* {
    box-sizing: border-box; 
}

.photo_grid {
    display: flex; 
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 0 auto; 
}

 .grid_figure {
    flex-basis: calc(33.33% - 4rem); 
    margin: 0 2rem 2rem 2rem; 
    padding: 0 2rem 2rem 2rem; 
    border: 1px solid lightgray;
    background: white; 
    box-shadow: 0 0 0 5px rgba(0,0,0,0.03); 
    position: relative;  
    width: calc(33.33% - 4rem); 
}

.grid_photo {
    width: calc(100% + 4rem);  
    margin-left: -2rem; 
    margin-right: -2rem; 
    max-width: none; 
} 


.grid_photo_wrap {
    position: relative;
}

